.video_area {
    position: relative;
    
    width: calc(100% - 30px);
    height: 957px;
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    video {
        position: relative;
        top: -200px;
        width: 100%;
    }
}