.header_area {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0 50px;

    .logo_area {
        svg {
            width: 600px;
            height: auto;
        }
    }

    .timer_area {
        .date {
            font-size: 4rem;
            font-weight: 500;
            margin-right: 20px;
        }

        .time {
            font-size: 5.5rem;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1600px) {
    .logo_area {
        svg {
            width: 400px !important;
        }
    }

    .timer_area {
        position: relative;
        top: -8px;

        .date {
            font-size: 3rem !important;
        }

        .time {
            font-size: 3.5rem !important;
        }
    }
}