@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14.5px;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  padding: 30px;
  background: url('../public/static/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

p, 
span,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app_container {
  width: 100%;
  height: 100%;
}